/* Removing default parameters */ 
body, h1, p {
  margin: 0;    
}

select {
  border: 1px solid #455a64;
  color : #455a64;    
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* Text padding */
h1, a , label, .rcd-row{
  padding: 0.5em 1em;
}

select {
  margin: 0.5em 1em;
}

/* Flex containers */
.bm-body, .bm-header, .bm-nav, .bm-button, .bm-main, #bm-main-interface, .bm-details, .bm-menu-line, .rcd-row{
  display: flex;    
}

*/* Vertical flex containers */
.bm-body, .bm-details {        
  flex-direction : column;
}

/* Common parameters */
.bm-body > * {    
  color : #455a64;
  font-family: "Lucida Console", Monaco, monospace;
}

/* Background */ 
.bm-header, #bm-menu, .rcd-header-row {  
  background: #607d8b;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.rcd-other-row{
  background: #eceff1;
}

/* Header */
.bm-header {
  width: 100%;
  justify-content: space-between;
}

/* Buttons */
.bm-button {
  cursor: pointer;   
  align-items: center;
}

.bm-button span {
  margin : 0 0.5em;    
}

.bm-button:hover {
  color : #455a64;
  fill : #455a64;
}

.bm-nav {
  align-self: flex-end;
  justify-content: space-between;    
  min-width: 600px;
}

/* Main part */

#bm-home, .bm-details {  
  overflow: auto;
}

#bm-home{
  width: 800px;
  margin: auto;    
}

#bm-main-interface {
  flex-basis:100%;
}


.bm-details {
  flex-grow: 2;
}

#bm-menu, .bm-details {  
  padding : 1em;
}

.bm-details-title {
  align-self: center;
}

.bm-col-date {
  flex: 0 0 8em;
}

.bm-col-type, .bm-col-account, .bm-col-amount {
  flex: 0 0 9em;
}

.bm-menu-line > label {
  flex: 0 0 5em;
}

.bm-menu-line > select {
  flex: 1 0 0;
}

#accounts-chart {
  width:100%;
  flex: 0 0 200px;
}

.hidden {
  display: none !important;
}
