/* Removing default parameters */ 
body, h1, p {
	margin: 0;	
}

select {
    border: 0;
    color : #455a64;    
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


html, body, main {
	height: 100%;
}

/* Containers */
.rcd-doc, .rcd-header, .rcd-nav-bar, .rcd-button {
	display: flex;	
}

.rcd-doc {		
	flex-direction : column;
	align-items: center;
}

.rcd-doc > * {	
	color : #455a64;
	font-family: sans-serif;
}







/* Header */
.rcd-header {
	width: 100%;
	background : #607d8b;
	color: #FFFFFF;
	fill: #FFFFFF;
	justify-content: space-between;
}

.rcd-button {
	flex-grow: 2;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;	
}

.rcd-button span {
	margin : 0 0.5em;	
}

.rcd-button:hover {
	background: #78909c;
}

.rcd-nav-bar {
	align-self: flex-end;
	justify-content: flex-end;	
	min-width: 600px;
}

/* Main part */
main {
	padding: 1em;
	min-width: 800px;
	overflow: auto
}

h1, a {
	padding: 0.5em 1em;
}

.hidden {
	display: none;
}

